@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Petemoss&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("william-shakespeare.jpg");
    background-size: cover;
}

textarea {
    display: block;
    margin: auto;
    padding: 1rem;
    max-width: 800px;
    width: 60%;
    height: 30vh;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    opacity: 0.8;
}

footer {
    background-color: black;
    color: white;
    padding: 1rem;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.heading {
    color: black;
    margin: 2rem;
}

.div1 {
    height: 140px;
    width: 100%;
    color: #292e35;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.div1 h1 {
    font-family: 'IBM Plex Serif', serif;
}

.div1 h3 {
    font-family: 'Petemoss', cursive;
    font-size: xx-large;
}

#btn-translate {
    border: none;
    padding: 0.8rem 1.3rem;
    background-color: black;
    border-radius: 5px;
    outline: none;
    color: #fde263;
    display: block;
    margin: auto;
    cursor: pointer;
    font-size: large;
}

#out-txt {
    margin-top: 10px;
}